<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>svesqbank</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ls</servlet-name>
    <servlet-class>com.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ls</servlet-name>
    <url-pattern>/ls</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>rs</servlet-name>
    <servlet-class>com.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rs</servlet-name>
    <url-pattern>/rs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>rcs</servlet-name>
    <servlet-class>com.controller.ResultCaptureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rcs</servlet-name>
    <url-pattern>/rcs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>rps</servlet-name>
    <servlet-class>com.controller.ResetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rps</servlet-name>
    <url-pattern>/rps</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pcs</servlet-name>
    <servlet-class>com.controller.PasswordChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pcs</servlet-name>
    <url-pattern>/pcs</url-pattern>
  </servlet-mapping>
</web-app>