<web-app>
<display-name>TomcatConnectionPooling</display-name>
	<resource-ref>
 <description>postgreSQL Datasource example</description>
 <res-ref-name>jdbc/mysql</res-ref-name>
 <res-type>javax.sql.DataSource</res-type>
 <res-auth>Container</res-auth>
</resource-ref>
<resource-ref>
 <description>postgreSQL Datasource example</description>
 <res-ref-name>jdbc/testmysql</res-ref-name>
 <res-type>javax.sql.DataSource</res-type>
 <res-auth>Container</res-auth>
</resource-ref>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
   
  <servlet>
    <servlet-name>ass</servlet-name>
    <servlet-class>s.AddSubjectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>sls</servlet-name>
    <servlet-class>s.StudentLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>fbs</servlet-name>
    <servlet-class>s.FeedbackServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>als</servlet-name>
    <servlet-class>s.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>afs</servlet-name>
    <servlet-class>s.AddFacultyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>sas</servlet-name>
    <servlet-class>s.SubjectAllocationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>fcs</servlet-name>
    <servlet-class>s.FeedbackCaptureServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>cps</servlet-name>
    <servlet-class>s.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>asts</servlet-name>
    <servlet-class>s.AddStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>tls</servlet-name>
    <servlet-class>s.TeacherLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>pas</servlet-name>
    <servlet-class>s.PostAttendenceServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>cess</servlet-name>
    <servlet-class>s.CourseEndSurveyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ucpcs</servlet-name>
    <servlet-class>s.UpdatedCoursePlanCaptureServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>wsals</servlet-name>
    <servlet-class>s.WebSaveAppliedLeaveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>uaibs</servlet-name>
    <servlet-class>s.UpdateAdjustInboxServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ulibs</servlet-name>
    <servlet-class>s.UpdateLeaveInboxServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>uplibs</servlet-name>
    <servlet-class>s.UpdatePrincipalLeaveInboxServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ils</servlet-name>
    <servlet-class>s.InsertLeaveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>uls</servlet-name>
    <servlet-class>s.UpdateLeaveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>tlfs</servlet-name>
    <servlet-class>s.TLFeedbackServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>gcs</servlet-name>
    <servlet-class>s.GrievanceCaptureServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>sgcs</servlet-name>
    <servlet-class>s.StudentGrievanceCaptureServlet</servlet-class>
  </servlet>
  <servlet-mapping>   
    <servlet-name>sgcs</servlet-name>
    <url-pattern>/sgcs</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>   
    <servlet-name>gcs</servlet-name>
    <url-pattern>/gcs</url-pattern>  
  </servlet-mapping>
   <servlet>
    <servlet-name>ugis</servlet-name>
    <servlet-class>s.UpdateGrievanceInboxServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>gescs</servlet-name>
    <servlet-class>s.GESCaptureServlet</servlet-class>
  </servlet>
  <servlet-mapping>   
    <servlet-name>gescs</servlet-name>
    <url-pattern>/gescs</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>   
    <servlet-name>ugis</servlet-name>
    <url-pattern>/ugis</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>   
    <servlet-name>tlfs</servlet-name>
    <url-pattern>/tlfs</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>   
    <servlet-name>uls</servlet-name>
    <url-pattern>/uls</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ils</servlet-name>
    <url-pattern>/ils</url-pattern>
  </servlet-mapping>	
  <servlet-mapping>
    <servlet-name>uplibs</servlet-name>
    <url-pattern>/uplibs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ulibs</servlet-name>
    <url-pattern>/ulibs</url-pattern>
  </servlet-mapping>	    
  <servlet-mapping>
    <servlet-name>uaibs</servlet-name>
    <url-pattern>/uaibs</url-pattern>
  </servlet-mapping>		
  <servlet-mapping>
    <servlet-name>wsals</servlet-name>
    <url-pattern>/wsals</url-pattern>
  </servlet-mapping>	
  <servlet-mapping>
    <servlet-name>ucpcs</servlet-name>
    <url-pattern>/ucpcs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>cess</servlet-name>
    <url-pattern>/cess1</url-pattern>  
  </servlet-mapping>
   <servlet>
    <servlet-name>cefs</servlet-name>
    <servlet-class>s.CourseEndFeedbackServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>apas</servlet-name>
    <servlet-class>s.AndroidPostAttendenceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>asals</servlet-name>
    <servlet-class>s.AndroidSaveAppliedLeaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>asals</servlet-name>
    <url-pattern>/asals</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cpcs</servlet-name>
    <servlet-class>s.CoursePlanCaptureServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>sets</servlet-name>
    <servlet-class>s.SMSExcelTPOServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sets</servlet-name>
    <url-pattern>/sets</url-pattern>
  </servlet-mapping>	
  <servlet-mapping>
    <servlet-name>cpcs</servlet-name>
    <url-pattern>/cpcs</url-pattern>
  </servlet-mapping>		
  <servlet-mapping>
    <servlet-name>apas</servlet-name>
    <url-pattern>/apas</url-pattern>
  </servlet-mapping>	
  <servlet-mapping>
    <servlet-name>cefs</servlet-name>
    <url-pattern>/cefs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ass</servlet-name>
    <url-pattern>/ass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ams</servlet-name>
    <servlet-class>s.AddMarksServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>uwsals</servlet-name>
    <servlet-class>s.UpdateWebSaveAppliedLeaveServlet</servlet-class>
  </servlet>
  
   <servlet>
    <servlet-name>fbonfacility</servlet-name>
    <servlet-class>s.FBFacilitiesServlet</servlet-class>
  </servlet>
  	
  <servlet-mapping>
    <servlet-name>fbonfacility</servlet-name>
    <url-pattern>/fbonfacility</url-pattern>
  </servlet-mapping>
  	
  <servlet-mapping>
    <servlet-name>uwsals</servlet-name>
    <url-pattern>/uwsals</url-pattern>
  </servlet-mapping>
  	
  <servlet-mapping>
    <servlet-name>ams</servlet-name>
    <url-pattern>/ams</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sls</servlet-name>
    <url-pattern>/sls</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>fbs</servlet-name>
    <url-pattern>/fbs</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>als</servlet-name>
    <url-pattern>/als</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>afs</servlet-name>
    <url-pattern>/afs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sas</servlet-name>
    <url-pattern>/sas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>fcs</servlet-name>
    <url-pattern>/fcs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>cps</servlet-name>
    <url-pattern>/cps</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>asts</servlet-name>
    <url-pattern>/asts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>tls</servlet-name>
    <url-pattern>/tls</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>pas</servlet-name>
    <url-pattern>/pas</url-pattern>
  </servlet-mapping>
   

</web-app>